/* .fade-in-right {
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .fade-in-right.visible {
    opacity: 1;
    transform: translateX(0);
  }
  
  .fade-in-left {
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
  }
   */


   .fade-in-up {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .fade-in-down {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .fade-out-up {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .fade-out-down {
    opacity: 0;
    transform: translateY(20px);
  }